<header class="header" id="main-header">
  <div class="logo"><a href="../pages/index.html">City Hostel</a></div>
  <nav class="nav">
    <ul>
      <li><a href="../pages/pokoje.html" data-i18n="rooms">Pokoje</a></li>
      <li><a href="../pages/cennik.html" data-i18n="prices">Cennik</a></li>
      <li><a href="../pages/kontakt.html" data-i18n="contact">Kontakt</a></li>
      <li><a href="../pages/hostele.html" data-i18n="other_hostels">Pozostałe hostele</a></li>
    </ul>
  </nav>
  <div class="lang-switcher" id="menu-lang-switcher">
    <button class="lang-btn active">PL</button>
    <div class="lang-dropdown">
      <button class="lang-btn">EN</button>
      <button class="lang-btn">DE</button>
      <button class="lang-btn">RU</button>
    </div>
  </div>
</header> 