<header class="header" id="main-header">
  <div class="logo"><a href="../pages/index.html">City Hostel</a></div>
  <nav class="nav">
    <ul>
      <li><a href="../pages/pokoje.html" data-i18n="rooms">Pokoje</a></li>
      <li><a href="../pages/cennik.html" data-i18n="prices">Cennik</a></li>
      <li><a href="../pages/kontakt.html" data-i18n="contact">Kontakt</a></li>
      <li class="dropdown-hostels">
        <a href="#" data-i18n="other_hostels">Pozostałe hostele</a>
        <ul class="dropdown-menu">
          <li><a href="http://www.firlik.com.pl/" target="_blank">Hostel Firlik<br><span style='font-size:0.95em;color:#7b8794;'>ul. Firlika 43, Szczecin</span></a></li>
          <li><a href="http://www.hostelarbet.pl/" target="_blank">Hostel Arbet<br><span style='font-size:0.95em;color:#7b8794;'>ul. Piesza 11, 70-633 Szczecin</span></a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="lang-switcher" id="menu-lang-switcher">
    <button class="lang-btn active">PL</button>
    <div class="lang-dropdown">
      <button class="lang-btn">EN</button>
      <button class="lang-btn">DE</button>
      <button class="lang-btn">RU</button>
    </div>
  </div>
</header> 